html,
body{
    height: 100%;
}
body{
    @extend %gilroy-500;
    color: #333;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.main{
    flex-grow: 1;
}
.title{
    @extend %gilroy-600;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 48%;
        right: 50%;
        bottom: -10px;
        border-bottom: 2px solid #FF4C02;
        width: 40px;
        
    }
}
.partner-btn{
    @extend %gilroy-600;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(50.16deg, #FF2A00 5.83%, #FF9900 100%);
    padding: 11px 15px;
    border: 1px solid #000;
    border-radius: 10px;
}
.app__box{
    display: flex;
    margin-left: -8px;
    &-link__play{
        margin-top: 9px;
        margin-left: 50px;
    }
}
.btn{
    @extend %gilroy-600;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(50.16deg, #FF2A00 5.83%, #FF9900 100%);
    padding: 11px 15px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 1250px){
    .app__box{
        display: flex;
        justify-content: center;
        
    }
}
@media (max-width: 1100px){
    .partner-btn{
        margin-bottom: 20px;
        
    }
}
@media (max-width: 800px){
    .title{
        font-size: 30px;
        line-height: 30px;
    }
}
@media (max-width: 600px){
    .app__box-link__play {
        margin-top: 9px;
        margin-left: 20px;
    }
    .title{
        font-size: 25px;
        line-height: 24px;
    }
}
