%gilroy-700{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%gilroy-600{
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-weight: 600;
}
%gilroy-500{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}