@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 60px;
    }
    &__btn{
        display: none;
    }
    &__box{
        display: flex;
        .partner-btn{
            margin-left: 82px;
        }
    }
    &__close{
        display: none;
    }
    &__menu{
        display: flex;
        align-items: center;
        &-item{
            position: relative;
            border-right: 1px solid #333;
            padding-right: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        &-item:last-child{
            border-right: none;
        }
        &-link{
            font-size: 16px;
            line-height: 19px;
            opacity: 0.7;
            color: #333;
            position: relative;
            padding-bottom: 4px;
            &:hover{
                color: #000;
                opacity: 1;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                &::before{
                    content: '';
                    position: absolute;
                    left: 40%;
                    right: 50%;
                    bottom: -5px;
                    border-bottom: 2px solid #FF4C02;
                    width: 20px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        &-link--active{
            color: #000;
            opacity: 1;
            position: relative;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            &::before{
                content: '';
                position: absolute;
                left:40%;
                right: 40%;
                bottom: -5px;
                border-bottom: 2px solid #FF4C02;
                width: 20px;
            }
        }
        .header__menu-item + .header__menu-item{
            margin-left: 25px;
        }
    }
    &__bottom-box{
        display: none;
    }
    &__bottom-text{
        display: none;
    }
}

.footer{
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.2) 100%);
    &__top{
        display: flex;
        justify-content: space-between;
        padding: 50px 60px 56px;
        border-bottom: 1px solid #dadada;
        &-item__link{
            @extend %gilroy-600;
            font-size: 16px;
            line-height: 19px;
            color: #5a5a5a;

        }
        &-item{
            padding-top: 8px;
        }
        &-item + .footer__top-item{
            margin-top: 12px;
        }
        &-box{
            display: flex;
        }
        &-link__store{
            width: 125px;
            height: 37px; 
            margin-top: 5px;
        }
        &-link__play{
            width: 125px;
            height: 37px;
            margin-top: 9px;
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        padding: 25px 60px 37px;
        &-text{
            @extend %gilroy-500;
            font-size: 14px;
            line-height: 16px;
            opacity: 0.7;
            display: flex;
            align-items: center;
            span{
                margin-left: 5px;
                @extend %gilroy-600;
            }
        }
        &-copy{
            display: flex;
            align-items: center;
            color: #828282;
            &__text{
                margin-left: 2px;
                font-size: 12px;
                line-height: 14px;
            }
            // position: relative;
            // &::before{
            //     content: '';
            //     position: absolute;
            //     background-image: url('../images/icons/copy.svg');
            //     background-repeat: no-repeat;
            //     left: -10px;
            //     top: 4px;
            //     width: 8px;
            //     height: 8px;
            // }
        }
        &-box{
            display: flex;
        }
        &-item + .footer__bottom-item{
            margin-left: 20px;
        }
    }
}

.top{
    margin-top: 100px;
    padding: 196px 60px;
    background-image: url('../images/icons/top-bg.svg');
    background-repeat: no-repeat;
    background-position: top center;
    &__inner{
        display: flex;
    }
    &__content{
        max-width: 710px;
        width: 100%;
    }
    &__title{
        @extend %gilroy-600;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 30px;
    }
    &__subtitle{
        @extend %gilroy-500;
        font-size: 22px;
        line-height: 140%;  
        color: #484848;
        margin-bottom: 30px;
    }
    &__img{
        margin-top: -130px;
    }
}

.advantages{
    background-image: url('../images/icons/advantages-bg.svg');
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0 60px 110px;
    &__title{
        margin-bottom: 67px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        width: 1090px;
        margin: 0 auto;
    }
    &__item{
        width: 220px;
        height: 250px;
        box-shadow: 0px 0px 4.84956px rgba(71, 71, 71, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 2.90973px 24.2478px rgba(71, 71, 71, 0.1);
        }
    }
    &__img{
        width: 80px;
        height: 80px;
        margin-bottom: 33px;
    }
    
    &__text{
        max-width: 214px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: #333;
        &-last{
            margin-bottom: 20px;
        }
        span{
            @extend %gilroy-600;
            
        }
    }
}

.work{
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.19) 100%);
    &__inner{
        display: flex;
        background-image: url('../images/icons/work-bg.svg');
        background-position: top right;
        background-repeat: no-repeat;
    }
    &__content{
        margin-left: 58px;
    }
    &__title{
        @extend %gilroy-600;
        font-size: 38px;
        line-height: 45px;
        padding-top: 120px;
        margin-bottom: 30px;
    }
    &__subtitle{
        font-size: 20px;
        line-height: 137.2%;
        opacity: 0.8;
        @extend %gilroy-500;
        margin-bottom: 30px;
    }
    &__item{
        margin-bottom: 40px;
        display: flex;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: left center;
            left: 0;
            top: 0;
        }
        &-img{
            margin-right: 20px;
        }
        &-title{
            line-height: 102.4%;
            margin-bottom: 10px;
            font-size: 20px;
            @extend %gilroy-600;
        }
        &-text{
            font-size: 16px;
            opacity: 0.7;
        }
    }
}

.info{
    margin-top: 80px;
    background-image: url('../images/icons/info-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    &__inner{
        padding: 0 60px 100px;
    }
    
    &__title{
        margin-bottom: 60px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        // position: relative;
        &:last-child{
            &::after{
                display: none;
            }
        }
        // &::after{
        //     content: '';
        //     position: absolute;
        //     background-image: url('../images/icons/angel-right.svg');
        //     width: 12px;
        //     height: 20px;
        //     right: -60px;
        //     top: 45px;
        // }
        &-img{
            width: auto;
            height: auto;
            margin-bottom: 20px;
            // position: relative;
        }
        &-text{
            @extend %gilroy-500;
            font-size: 20px;
            line-height: 24px;
            span{
                @extend %gilroy-700;
            }
        }
    }
}

.about{
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.19) 100%);
    &__inner{
        padding: 0 60px;
        display: flex;
        background-image: url('../images/icons/about-bg.svg');
        background-repeat: no-repeat;
        background-position: left;    
        min-height: 650px;
    }
    &__content{
        max-width: 690px;
        margin-top: 140px;
    }
    &__title{
        margin-bottom: 30px;
        @extend %gilroy-600;
        font-size: 38px;
        line-height: 45px;
    }
    &__text{
        line-height: 29px;
        margin-bottom: 20px;
    }
    &__text:nth-child(4){
        line-height: 29px;
        margin-bottom: 40px;
    }
    &__btn{
        margin-top: 32px;
    }
    &__img{
        max-width: 50%;
    }
}

.details{
    background-image: url('../images/icons/details-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 60px;
    &__title{
        margin-bottom: 67px;
        @extend %gilroy-600;
    }
    &__content{
        display: flex;
        justify-content: center;
    }
    &__item{
        max-width: 570px;
        padding: 30px;
        box-shadow: 0px 3px 25px rgba(71, 71, 71, 0.1);
        border-radius: 12px;
        &-title{
            margin: 25px 0;
        }
        &-text{
            margin-bottom: 30px;
        }
    }
    &-btn{
        padding: 15px 45px;
    }
}

.aside{
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.19) 100%);
    &__inner{
        display: flex;
        padding: 0 60px;
        background-image: url('../images/icons/aside-bg.svg');
        background-repeat: no-repeat;
        background-position: right center;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        margin-left: 40px;
    }
    &__title{
        @extend %gilroy-600;
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 40px;
    }
    &__text{
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 40px;
        span{
            @extend %gilroy-600;
        }
        &-mobil{
            display: none;
            font-size: 22px;
            line-height: 31px;
            margin-bottom: 40px;
        }
    }
}

.partners{
    padding: 110px 60px;
    &__title{
        margin-bottom: 77px;
    }
    ul.partners__list{
        margin: 0 auto;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .slick-track{
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .slick-slide img{
        margin: 0 auto;
    }
    li{ 
        button{
            font-size: 0;
            opacity: 0.2;
            background-color: #333;
            width: 8px;
            height: 8px;
            border: none;
            border-radius: 50%;
            margin-left: 12px; 
            cursor: pointer;
        }
        &.slick-active{
            button{
                width: 12px;
                height: 8px;
                opacity: 1;
                border: none;
                border-radius: 4px;
                background-color:#FF741C;
                outline: none;
                border: none;
                
            }
        }
    }
}

.details-page{
    margin-top: 100px;
    padding: 60px 60px 80px;
    &__title{
        margin-bottom: 50px;
        font-size: 38px;
        line-height: 45px;
        @extend %gilroy-600;
    }
    &__subtitle{
        @extend %gilroy-700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
        
    }
    &__text{
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.1);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 10;
    &.open{
        opacity: 1;
        visibility: visible;
    }
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &__area{
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        order: 999;
        padding: 30px 10px;
    }
    &__content{
        max-width: 500px;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 25px 35px;
        border-radius: 14px;
        position: relative;
    }
    &__title{
        margin-bottom: 15px;
        font-size: 20px;
        display: flex;
    }
    &__input{
        max-width: 240px;
        width: 100%;
        padding: 10px 15px;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.6;
        margin-bottom: 10px;
        border-radius: 7px;
        border: 1px solid #333333;
    }
    &__btn{
        padding: 11px 39px;
        margin-top: 10px;
    }
    &__img{
        margin-left: 35px;
    }
    &__close{
        width: 15px;
        height: 15px;
    }
    &__close-img{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .popup__input ._req{
        box-shadow: 0 0 15px red;
    }
    .popup__input ._error{
        box-shadow: 0 0 15px red;
    }
}
.popup__detail{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.1);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    &.open{
        opacity: 1;
        visibility: visible;
    }
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &__area{
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &-body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        order: 999;
        padding: 30px 10px;
    }
    &-content{
        max-width: 850px;
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 25px 35px;
        border-radius: 14px;
        position: relative;
    }
    &-title{
        @extend %gilroy-700;
        line-height: 24px;
        margin-bottom: 20px;
    }
    &-text{
        font-size: 16px;
        line-height: 22px;
        opacity: 0.9;
        margin-bottom: 15px;
    }
    &__img{
        margin-left: 23px;
    }
    &__close{
        width: 15px;
        height: 15px;
    }
    &__close-img{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 11px;
        right: 15px;
    }
}




@import 'media';
