@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 60px;
    }
    &__box{
        display: flex;
        .partner-btn{
            margin-left: 82px;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        &-item{
            position: relative;
            border-right: 1px solid #333;
            padding-right: 15px;
        }
        &-item:last-child{
            border-right: none;
        }
        &-link{
            font-size: 16px;
            line-height: 19px;
            opacity: 0.7;
            color: #333;
            position: relative;
            padding-bottom: 4px;
            &:hover{
                color: #000;
                opacity: 1;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                &::before{
                    content: '';
                    position: absolute;
                    left: 19px;
                    top: 22px;
                    border-bottom: 2px solid #FF4C02;
                    width: 20px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        &-link--active{
            color: #000;
            opacity: 1;
            position: relative;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            &::before{
                content: '';
                position: absolute;
                left: 19px;
                top: 22px;
                border-bottom: 2px solid #FF4C02;
                width: 20px;
            }
        }
        .header__menu-item + .header__menu-item{
            margin-left: 25px;
        }
    }
}

.footer{
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.2) 100%);
    &__top{
        display: flex;
        justify-content: space-between;
        padding: 50px 60px 56px;
        border-bottom: 1px solid #dadada;
        &-item__link{
            @extend %gilroy-600;
            font-size: 16px;
            line-height: 19px;
            opacity: 0.7;
            color: #333;
        }
        &-item{
            padding-top: 8px;
        }
        &-item + .footer__top-item{
            margin-top: 12px;
        }
        &-box{
            display: flex;
        }
        &-link__store{
            width: 125px;
            height: 37px; 
            margin-top: 5px;
        }
        &-link__play{
            width: 125px;
            height: 37px;
            margin-top: 9px;
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        padding: 25px 45px 37px;
        &-text{
            @extend %gilroy-500;
            font-size: 14px;
            line-height: 16px;
            opacity: 0.7;
            span{
                @extend %gilroy-600;
            }
        }
        &-copy{
            @extend %gilroy-500;
            font-size: 14px;
            line-height: 16px; 
            opacity: 0.6;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url('../images/icons/copy.svg');
                background-repeat: no-repeat;
                left: -10px;
                top: 4px;
                width: 8px;
                height: 8px;
            }
        }
        &-box{
            display: flex;
        }
        &-item + .footer__bottom-item{
            margin-left: 20px;
        }
    }
}

.top{
    padding: 196px 60px;
    background-image: url('../images/icons/top-bg.svg');
    background-repeat: no-repeat;
    background-position: top center;
    &__inner{
        display: flex;
    }
    &__content{
        max-width: 710px;
        width: 100%;
    }
    &__title{
        @extend %gilroy-600;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.02em;
        margin-bottom: 30px;
    }
    &__subtitle{
        @extend %gilroy-500;
        font-size: 22px;
        line-height: 140%;  
        opacity: 0.9;
        margin-bottom: 30px;
    }
    &__img{
        margin-top: -130px;
    }
}

.advantages{
    background-image: url('../images/icons/advantages-bg.svg');
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0 60px 110px;
    &__title{
        margin-bottom: 67px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        width: 1090px;
        margin: 0 auto;
    }
    &__item{
        width: 220px;
        height: 250px;
        box-shadow: 0px 0px 4.84956px rgba(71, 71, 71, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 2.90973px 24.2478px rgba(71, 71, 71, 0.1);
        }
    }
    &__img{
        width: 80px;
        height: 80px;
        margin-bottom: 33px;
    }
    &__text{
        max-width: 214px;
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        color: #333;
        span{
            @extend %gilroy-600;
            
        }
    }
}

.work{
    margin-bottom: 75px;
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.19) 100%);
    &__inner{
        display: flex;
        background-image: url('../images/icons/work-bg.svg');
        background-position: top right;
        background-repeat: no-repeat;
    }
    &__content{
        margin-left: 58px;
    }
    &__title{
        @extend %gilroy-600;
        font-size: 38px;
        line-height: 45px;
        padding-top: 120px;
        margin-bottom: 30px;
    }
    &__subtitle{
        font-size: 20px;
        line-height: 137.2%;
        opacity: 0.8;
        @extend %gilroy-500;
        margin-bottom: 30px;
    }
    &__item{
        padding-left: 62px;
        margin-bottom: 40px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: left center;
            left: 0;
            top: 0;
        }
        &-title{
            line-height: 102.4%;
            margin-bottom: 10px;
        }
        &-text{
            font-size: 16px;
            opacity: 0.7;
        }
    }
    &__item-one::before{
        background-image: url('../images/icons/work-1.svg');
        width: 45px;
        height: 38px;
    }
    &__item-two::before{
        background-image: url('../images/icons/work-2.svg');
        width: 41px;
        height: 42px;
    }
    &__item-three::before{
        background-image: url('../images/icons/work-3.svg');
        width: 45px;
        height: 46px;
    }
}

.info{
    background-image: url('../images/icons/info-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    &__inner{
        padding: 0 60px 100px;
    }
    
    &__title{
        margin-bottom: 60px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        &:last-child{
            &::after{
                display: none;
            }
        }
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/angel-right.svg');
            width: 12px;
            height: 20px;
            right: -60px;
            top: 45px;
        }
        &-img{
            width: auto;
            height: auto;
            margin-bottom: 20px;
            position: relative;
        }
        &-text{
            @extend %gilroy-500;
            font-size: 20px;
            line-height: 24px;
            span{
                @extend %gilroy-700;
            }
        }
    }
}

.about{
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.19) 100%);
    &__inner{
        padding: 0 60px;
        display: flex;
        background-image: url('../images/icons/about-bg.svg');
        background-repeat: no-repeat;
        background-position: left;    
    }
    &__content{
        max-width: 690px;
        margin-top: 140px;
    }
    &__title{
        margin-bottom: 30px;
        @extend %gilroy-600;
        font-size: 38px;
        line-height: 45px;
    }
    &__text{
        line-height: 29px;
        margin-bottom: 20px;
    }
    &__btn{
        margin-top: 12px;
    }
}

.details{
    background-image: url('../images/icons/details-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 60px;
    &__title{
        margin-bottom: 67px;
        @extend %gilroy-600;
    }
    &__content{
        display: flex;
        justify-content: center;
    }
    &__item{
        max-width: 570px;
        padding: 30px;
        box-shadow: 0px 3px 25px rgba(71, 71, 71, 0.1);
        border-radius: 12px;
        &-title{
            margin: 25px 0;
        }
        &-text{
            margin-bottom: 30px;
        }
    }
}

.aside{
    background: linear-gradient(80.15deg, rgba(242, 242, 242, 0.8) 0%, rgba(242, 242, 242, 0.19) 100%);
    &__inner{
        display: flex;
        padding: 0 60px;
        background-image: url('../images/icons/aside-bg.svg');
        background-repeat: no-repeat;
        background-position: right center;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        margin-left: 40px;
    }
    &__title{
        @extend %gilroy-600;
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 40px;
    }
    &__text{
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 40px;
        span{
            @extend %gilroy-600;
        }
    }
}

.partners{
    padding: 110px 60px;
    &__title{
        margin-bottom: 70px;
    }
    ul.partners__list{
        margin: 0 auto;
        
        max-width: 1100px;
    }
    .slick-track{
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.details-page{
    padding: 60px 60px 80px;
    &__title{
        margin-bottom: 50px;
        font-size: 38px;
        line-height: 45px;
        @extend %gilroy-600;
    }
    &__subtitle{
        @extend %gilroy-700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
        
    }
    &__text{
        line-height: 24px;
        margin-bottom: 20px;
    }
}






@import 'media';
